Flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
openpyxl==3.1.5
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
alembic==1.13.2
google-api-python-client==2.143.0
google-auth==2.34.0
boto3==1.35.10
pytz==2024.1
